/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import "bootstrap-sprockets";
@import "bootstrap";

$dark: #5e5e5f;
$blue: #80d4f6;
$green: #67D5B5;
$red: #ff7761;

* {
  padding: 0;
  margin: 0;
  outline: none !important;
}

body {
  padding-top: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-color: $dark;
}


a {
  color: darken($blue, 20%);
  &:hover {
    color: darken($blue, 60%)
  }
}

.profile {
  text-align: center;
  background: #fafafa;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .profile-picture {
    .cover {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      overflow: hidden;
    }
    > img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 3px solid #fff;
      border-radius: 50%;
    }
  }

  .info {
    padding: 1em;
  }

  h3 {

  }
}

.tweets {

  > div {
    padding: 1em;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0 0 1em 0;
    transition: all .2s;
    &.selected {
      background: transparentize($red, .5);
      color: #fff;
      a {
        color: #fff;
      }
    }
    &:hover {
      border-color: darken(#fafafa, 5%);
    }
    > p:last-child { margin-bottom: 0; }
    a {
      font-weight: bold;
    }
  }

  label {
    cursor: pointer;
    &:before{
      display: inline-block;
      content: "+";
      margin: 0 10px 0 0;
      width: 1em;
      height: 1em;
      border: 2px solid $red;
      border-radius: 100%;
      vertical-align: middle;
      color: $red;
      font-size: 18px;
      text-align: center;
      line-height: .8em;
      transition: transform 0.2s ease-in-out;
    }
  }

  input[type=checkbox]:checked + label:before{
    background: $red;
    color: #fff;
    transform: rotate(135deg);
    transform-origin: center center;
  }

  input[type=checkbox] { display: none; }

}
